<div class="d-block w-100 flex" id="top-image" style="position:relative;">
        <img src="assets/images/side-image.jpg" class="d-block w-100">
</div>
 
<nav class="navbar navbar-expand-sm navbar-dark bg-dark  sticky-top px-5">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" style="height: 50px;">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>    
<div class="mx-5 mt-3">
    <router-outlet></router-outlet>
</div>
<div class="d-block w-100 flex" id="bottom-image" style="position:relative;">
    <img src="assets/images/bottom-image.jpg" class="d-block w-100">
    <footer class="footer mt-3 mx-5">
        <div id="social-media">
            <i class="fab fa-facebook" id="facebook"></i>
            <i class="fab fa-twitter-square" id="twitter"></i>
            <i class="fab fa-instagram" id="instagram"></i>
            <i class="fab fa-google" id="google"></i>
        </div>
    </footer>
</div>