<div class="container mt-5" style="width: 40rem;" id="#view">
	<div class="row">
		<div class="col">
			<div class="card mb-3" id="menu">
				<div class="card-title text-center">
					<i class="fas fa-user-tie fa-3x mt-3" style="color:#8cbcd0;" aria-hidden="true"></i>
					<h4 class="card-title mb-0" >Providers</h4>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
					<div class="text-center">
						<a [routerLink]="['/seller/list/']" class= "btn btn-success px-4" id="order">Go</a>
					</div>
				</div>				
			</div>	 
		</div>
		<div class="col">
			<div class="card mb-3" id="menu">
				<div class="card-title text-center">
					<i class="fas fa-car-battery fa-3x mt-3" style="color:#4b6777;" aria-hidden="true"></i>
					<h4 class="card-title mb-0">Parts</h4>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
					<div class="text-center">
						<div class="text-center">
								<a [routerLink]="['/part/list/']" class= "btn btn-success px-4" id="order">Go</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card mb-3" id="menu">
				<div class="card-title text-center">
					<i class="fas fa-tags fa-3x mt-3" style="color:#c1432e;" aria-hidden="true"></i>
					<h4 class="card-title mb-0">Prices</h4>
				</div>
				<div class="card-body">
					<p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
					<div class="text-center">
						<div class="text-center">
								<a [routerLink]="['price/list/']" class= "btn btn-success px-4" id="order">Go</a>
						</div>
					</div>
				</div>
			</div>	 
		</div>
		<div class="col">
			<div class="card mb-3" id="menu">
				<div class="card-title text-center">
						<i class="fas fa-money-check-alt fa-3x mt-3" style="color:#ce9e62;" aria-hidden="true"></i>
						<h4 class="card-title mb-0">Purchase Orders</h4>
					</div>
					<div class="card-body">
						<p>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</p>
						<div class="text-center">
							<div class="text-center">
									<a [routerLink]="['/order/list/']" class= "btn btn-success px-4" id="order">Go</a>
							</div>
						</div>
				</div>
		</div>
	</div>
</div>